
  <mat-card>
    <mat-card-content>
      <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-error *ngIf="loginError!=''">
          {{loginError}}
        </mat-error>
        <mat-form-field>
        <input matInput formControlName="email" type="email" required placeholder="Email">
         <mat-error>
           Please provide a valid email
         </mat-error>
        </mat-form-field>
  
        <mat-form-field>
          <input matInput formControlName="password"type="password" required placeholder="Password">
           <mat-error>
            Please provide a valid password
           </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" [disabled]="!loginForm.valid"> Login </button>
      </form>
    </mat-card-content>
  </mat-card>

