
  <mat-card>
    <mat-card-content>
      <h2>Login</h2>
      <form [formGroup]="ChangePasswordForm" (ngSubmit)="ChangePassword()">
        <mat-error *ngIf="ChangePasswordError!=''">
          {{ChangePasswordError}}
        </mat-error>
        <mat-form-field>
        <input matInput formControlName="oldPassword" type="password" required placeholder="Old password">
         <mat-error>
          Please provide a valid password
         </mat-error>
        </mat-form-field>
  
        <mat-form-field>
          <input matInput formControlName="newPassword" type="password" required placeholder="New password">
           <mat-error>
            Please provide a valid password
           </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput formControlName="newPasswordRepeat" type="password" required placeholder="Repeat password">
             <mat-error>
              Please repeat a valid password
             </mat-error>
          </mat-form-field>
          <button type="submit" mat-raised-button color="primary" [disabled]="!ChangePasswordForm.valid || ChangePasswordForm.value.newPassword != ChangePasswordForm.value.newPasswordRepeat"> Change password </button>
      </form>
    </mat-card-content>
  </mat-card>

