#articles {
    background-color: #FCD5CE;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  #articles > * {
    margin: 7px;
    margin-bottom: 0px;
  }
  
  mat-card{
    margin: 7px;
  }

  .mat-toolbar{
    background: #FEC5BB !important;
  }
  
  
  .footer{
    background-color: #FEC5BB;
  }
  
  mat-form-field{
   width: 40vw;
  }
  
  .mat-form-field-infix{
  padding:0px !important;
  }