.header-text{
font-size: xx-large;
}

#delete-form-button{
    position: absolute;
    max-height: fit-content;
    right: 3px; 
    top: 3px;
    bottom: 3px;
    border: 0;
    margin: 0;
    padding: 0 10px;
    width: 5%;
  }

#create-article-button{
  text-align: center;
}

#menu-profile{
  position: absolute;
  max-height: fit-content;
  right: 3px; 
  top: 3px;
  bottom: 3px;
  border: 0;
  margin: 0;
  padding: 0 10px;
  width: 5%;
}

#delete-article-button{
  background-color: 'red' !important;
}

#delete-button { 
  background-color:rgb(255, 145, 145);
}

#delete-button :hover { 
  background-color:rgb(255, 0, 0) !important;
}

#update-form{
  display: flex;
  flex-direction: column;
}