<div>
  <mat-card>
    <div class="header-text">
      {{user.userName}}'s Profile
    </div>
    <button id="menu-profile" mat-button [matMenuTriggerFor]="menu">Menu</button>
   <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/blog',user.id]"> 
            Go to blog
          </button>
          <button *ngIf="canDeleteProfile" id="delete-article-button" type="submit" mat-menu-item id="delete-button"  (click)="deleteUser()"> 
            Delete
          </button>
   </mat-menu>
  </mat-card>
</div>
<mat-card *ngIf="!canChangeProfile">
  <mat-list>
    <mat-list-item>User name : {{user.userName}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>First name : {{user.firstName}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Last name : {{user.lastName}}</mat-list-item>
  </mat-list>
</mat-card>
<mat-card *ngIf="canChangeProfile">
  <form id="update-form" [formGroup]="updateForm" (ngSubmit)="update()">
    <mat-error *ngIf="updateError!=''">
      {{updateError}}
    </mat-error>
    <mat-form-field>
      <label for="userName">User name:</label>
      <input matInput id="userName" formControlName="userName"
              required>
              <mat-error>
                  Please provide a valid user name
              </mat-error>
    </mat-form-field>
    <mat-form-field>
        <label for="firstName">First name:</label>
        <input matInput id="firstName" formControlName="firstName" required>
                <mat-error>
                    Please provide a valid first name
                </mat-error>
    </mat-form-field>
  
    <mat-form-field>
        <label for="lastName">Last name:</label>
        <input matInput id="lastName" formControlName="lastName"
                required>
                <mat-error>
                    Please provide a valid last name
                </mat-error>
    </mat-form-field>
    <mat-form-field>
        <label for="email">Email:</label>
        <input matInput id="email" formControlName="email"
                required>
                <mat-error>
                    Please provide a valid email address
                </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="!updateForm.valid"> 
        Save
    </button>
    <p></p>
    <button mat-raised-button color="primary" [routerLink]="['/changePassword']"> 
      Change password
    </button>
    </form>
</mat-card>

