#mat-card-comment {
    background-color: #FEE3EC;
    margin-bottom: 7px;
    max-width: 90vw;
  }

  #comment-form-delete-button{
    position: absolute;
    max-height: fit-content;
    right: 3px; 
    top: 3px;
    bottom: 3px;
    border: 0;
    margin: 0;
    padding: 0 10px;
    width: 5%;
  }

.comment-text{
  max-width: 100%;
}

.commentInfo{
  word-wrap: break-word;
}