<mat-card id="mat-card-comment">
    <mat-card-content >
        <form class="commentInfo">
            <button mat-button [routerLink]="['/profile',item.userId]" >{{userName}}</button> <div class="comment-text">{{item.commentText}} </div> 
            <button *ngIf="canDelete" id = "comment-form-delete-button" type="submit" mat-raised-button color="warn" (click)="deleteComment()"> 
                Delete
            </button>
        </form>
    </mat-card-content>
</mat-card>
