mat-card {
    max-width: 450px;
    margin: 5em auto;
    text-align: center;
    background-color: #FEC5BB;
}
  
mat-form-field {
    display: block;
}

#tags-div{
    width: auto;
    /* display: flex; */
    text-align: left;
    
}

#tag-list-div{
    display: flex;
    flex-direction: column;
}

#Create-article-text{
    font-size: xx-large;
}

