  <mat-card>
    <mat-card-content id="Create-article-text">Edit Article</mat-card-content>
    <mat-card-content>
      <form [formGroup]="updateArticleForm" (ngSubmit)="updateArtice()">
        <mat-form-field>
        <input matInput formControlName="title" required placeholder="Title">
         <mat-error>
           Please provide a valid Title
         </mat-error>
        </mat-form-field>
  
        <mat-form-field>
          <textarea matInput formControlName="body"type="body" required placeholder="Body">
          </textarea>
          <mat-error>
            Please provide a valid article body
           </mat-error>
          </mat-form-field>
          <div id="tags-div" appearance="outline">
            Tags:
            <div *ngFor="let item of tags" id="tag-list-div">
              <mat-form-field>
                <input required matInput type="text"  [(ngModel)]="item.tagName" [ngModelOptions]="{standalone: true}">
                 <mat-error>
                  Please provide a valid tag body
                 </mat-error>
                </mat-form-field>
            </div>
            <button mat-stroked-button type='button' (click)="addTag()">Add tag</button>
            <button *ngIf="tags.length > 0" type='button' mat-stroked-button (click)="deleteTag()" color="warn">Remove tag</button>
          </div>
          <button mat-raised-button color="primary" type="submit" [disabled]="!updateArticleForm.valid"> Save </button>
      </form>
    </mat-card-content>
  </mat-card>

