<mat-card *ngIf="searchError!=''">
  <mat-error >
    {{searchError}}
  </mat-error>
</mat-card>

<mat-card id="mat-card-comment">
  
  <mat-card-content >
      <form class="commentInfo">
          <input required [(ngModel)]="tag" name="tag" matInput placeholder="Tag name">
          <button id = "search-form-button" type="submit" mat-raised-button color="primary" (click)="getByTag()"> 
              Search
          </button>
      </form>
  </mat-card-content>
</mat-card>
<mat-card id="mat-card-comment">
  <mat-card-content >
      <form class="commentInfo">
          <input required type="text" [(ngModel)]="text"  name="text" matInput placeholder="Article text">
          <button id = "search-form-button" type="submit" mat-raised-button color="primary" (click)="getByText()"> 
              Search
          </button>
      </form>
  </mat-card-content>
</mat-card>
<app-article-item *ngFor="let article of articles" [item] = "article"></app-article-item>
