.header-text{
font-size: xx-large;
}

#menu-button{
  position: absolute;
  max-height: fit-content;
  right: 3px; 
  top: 3px;
  bottom: 3px;
  border: 0;
  margin: 0;
  padding: 0 10px;
  width: 5%;
  }

#create-article-button{
  text-align: center;
}

#delete-blog-button{
    background-color:rgb(255, 145, 145);
}

#search-form-button{
  position: absolute;
  right: 3px; 
  top: 3px;
  bottom: 3px;
  border: 0;
  margin: 0;
  padding: 0 10px;
  width: 5%;
}