<mat-toolbar class="tool-bar">
  <button mat-button [matMenuTriggerFor]="menu" mat-icon-button class="icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="">Home</button>
    <button mat-menu-item *ngIf="isLoggedIn" [routerLink]="['/profile',thisUserId]">My Profile</button>
    <button mat-menu-item *ngIf="isLoggedIn" [routerLink]="['/blog',thisUserId]">My blog</button>
    <button mat-menu-item *ngIf="isLoggedIn" [routerLink]="['/search']">Search</button>
  </mat-menu>
  <span>Blog site for blogs</span>
  <span class="spacer"></span>
  <button mat-button type="button" class="login-button" routerLink="/login" *ngIf="!isLoggedIn">
    <span>Login</span>
  </button>
  <button mat-button type="button" class="login-button" routerLink="/register" *ngIf="!isLoggedIn">
    <span>Register</span>
  </button>
  <button mat-button class="login-button" (click) = 'logout()' *ngIf="isLoggedIn">
    <span>logout</span>
  </button>

  <form>
    <mat-form-field id="empty-input">
      <input matInput>
    </mat-form-field>
  </form>
</mat-toolbar>
<router-outlet></router-outlet>