#articles {
  background-color: #FCD5CE;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#articles > * {
  margin: 7px;
  margin-bottom: 0px;
}

mat-card{
  margin: 7px;
}

.main{
  height: 100vw;
}

.mat-toolbar{
  background: #FEC5BB !important;
}
.spacer{
  flex: 1 1 auto;
}

.footer{
  background-color: #FEC5BB;
}

body {
  background-color: #FCD5CE;
}

#empty-input{
  width: 0px;
}
