<mat-card id="mat-card-article">
    <mat-card id="mat-card-article-content">
    <mat-card-content>
        <div class="delete-article-button">
            <form id="article-form">
                <h2 class = "article-text">
                    {{item.title}}
                </h2>
                <div class="info" class = "article-text">
                    <p>{{item.body}}</p>
                </div>
                <button id="menu-article" mat-button [matMenuTriggerFor]="menu">Menu</button>
                <mat-menu #menu="matMenu">
                        <button *ngIf="canEdit" mat-menu-item [routerLink]="['/updateArticle',this.item.id]"> 
                            Edit
                        </button>    
                        <button id="delete-article-button" *ngIf="canDelete"  type="submit" mat-menu-item id="delete-button"  (click)="deleteArticle()"> 
                            Delete
                        </button>
                        <button *ngIf="articleBlog!=undefined" mat-menu-item [routerLink]="['/profile',articleBlog.userId]"> 
                            Go to Author
                        </button>
                </mat-menu>
                <button id="tags-article" mat-button [matMenuTriggerFor]="tags">Tags</button>
                <mat-menu #tags="matMenu">
                        <button mat-menu-item *ngFor="let tag of item.tags">{{tag.tagName}}</button>
                </mat-menu>
            </form>
        </div>
    </mat-card-content>
    </mat-card>
    <mat-card class="mat-card-comments">
        <p>
            <button mat-button (click)="showComments">Comments<mat-icon>keyboard_arrow_down</mat-icon></button> 
        </p>
        <div *ngIf="commentShow">
            <app-comment-item *ngFor="let comment of item.comments" [item] = "comment"></app-comment-item>
            <mat-card *ngIf="isLoggedIn">
                <form id="comment-form">
                    <div>
                        <input type="text" matInput placeholder="write a comment" [formControl]="commentForm">
                    </div>
                    <div>
                        <button id = "comment-form-button" type="submit" mat-raised-button color="primary" (click)="sendComment()"> 
                            Send
                        </button>
                    </div>
                </form>
            </mat-card>
            <mat-card *ngIf="!isLoggedIn">
                <a routerLink="/login">Login</a> to write a comment
            </mat-card>
        </div>
    </mat-card>
</mat-card>
