#mat-card-article{
background-color: #FAE1DD;
}

#mat-card-article-content{
    background-color: #F8EDEB;
}

.mat-card-comments{
    background-color: #F8EDEB;
}

#comment-form-button{
  position: absolute;
  right: 3px; 
  top: 3px;
  bottom: 3px;
  border: 0;
  margin: 0;
  padding: 0 10px;
  width: 8%;
}

#menu-article{
  position: absolute;
  max-height: fit-content;
  right: 3px; 
  top: 3px;
  bottom: 3px;
  border: 0;
  margin: 0;
  padding: 0 10px;
  width: 5%;
}

#article-author{
  position: absolute;
  max-height: fit-content;
  right: 3px; 
  bottom: 3px;
  border: 0;
  margin: 0;
  padding: 0 10px;
  width: 15%;
}

#delete-article-button{
  background-color: 'red' !important;
}

#delete-button { 
  background-color:rgb(255, 145, 145);
}

#delete-button :hover { 
  background-color:rgb(255, 0, 0) !important;
}

.article-text{
  max-width: 100%;
}

#article-form {
  max-width: 90vw;
  word-wrap: break-word;
}

#tags-article{
  position: absolute;
  max-height: fit-content;
  right: 3px; 
  bottom: 3px;
  border: 0;
  margin: 0;
  padding: 0 10px;
}