<div>
  <mat-card>
    <div id="article-form">
      <div *ngIf="blog.id!=0" class="header-text">
        {{user.userName}}'s Blog
      </div>
      <div *ngIf="blog.id==0"  class="header-text">
        {{user.userName}} doesn't have blog yet!
      </div>
      <div>
        <button id="menu-button" mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
                <button mat-menu-item *ngIf="canDeleteBlog" id="delete-blog-button" (click)="deleteBlog()"> 
                  Delete
                </button>
                <button mat-menu-item [routerLink]="['/profile',blog.userId]"> 
                    View profile
                </button>
        </mat-menu>
    </div>
  </div>
  </mat-card>
</div>
<div class="content">
    <div id="articles">
      <div id = "create-article-button">
          <button *ngIf="canCreateBlog" type="submit" mat-raised-button color="primary" routerLink="/addArticle" > 
              Create article
          </button>
      </div>
      <div id = "create-article-button">
        <button *ngIf="blog.id==0" type="submit" mat-raised-button color="primary" (click)="createBlog()"> 
            Create Blog
        </button>
      </div>
      <app-article-item *ngFor="let article of blog.articles" [item] = "article"></app-article-item>
    </div>
</div>